@use 'sass:math';

@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.c-standard {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--body {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    &-box {
      border-radius: .25rem;
    }
  }
}
